{:deps {cljfx {:mvn/version "1.6.7"}
        cljfx/css {:mvn/version "1.1.0"}
        clj-http {:mvn/version "3.9.1"}
        metosin/jsonista {:mvn/version "0.2.5"}
        crouton {:mvn/version "0.1.2"}}
 :aliases {:uberjar {:extra-deps {seancorfield/depstar {:mvn/version "0.5.2"}}
                     :main-opts ["-m" "hf.depstar.uberjar" "dist/hn.jar"]}}}